.navbar{
  height: 100px;

  .wrapper{
    max-width: 1366px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .social-links, .page-links{
      display: flex;
      gap: 15px;
    }
  }

}